 
 .body {
    
    background-color: #A5B0C1;
 
   
}

  .ls-login-box {

    background-color:#DDE4EE;
    position: absolute;
    width: 350px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -150px;
    border-radius: 20px  20px 20px 20px;

  }

  .title{

    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center

  }