/* Estilos Gerais */

body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

.btn-int {
	border: 3px solid #000;
	padding: 10px 30px;
	color: #000;
	background: #fff;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
}
.btn-mesa{
        background-color: orange;
        border: 1px solid #000;
        border-radius: 100%;
        color: black;
        padding: 5px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: sans-serif;
        position: relative;

    }
   

.btn-int:hover {
	color: #fec63e;
	border-color: #fec63e;
}

/* Header */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fec63e; /* Amarelo */
	padding: 15px 0;
	z-index: 10;
	
}

.header_menu {
	text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 20px;
}

.header_menu ul li a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
}

.header_menu ul li a:hover {
	color: #FFF;
}

/* Introdução */

.introducao {
	border: 0px solid;
	width: 100%;
	height: 380px;
	/*background: url("../img/bg.jpg") no-repeat center;*/
	background-size: cover;
	margin-top: 96px;
	text-align: center;
	padding-top: 80px;
	
}

.introducao h1 {
	font-size: 48px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
}

.footer {
	width: 100%;
	background: #000;
	color: #fff;
	padding: 20px 0;
	position: fixed;
	bottom: 0%;
}

.footer h3 {
	font-size: 18px;
	line-height: 25px;
	color: #fec63e;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	position: fixed;
	bottom: 0%;
}

.footer h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fec63e;
	margin: 6px 0 12px 0;
	position: fixed;
	bottom: 0%;
}


.copy {
	width: 100%;
	background: #fec63e;
	padding: 20px 0;
	position: fixed;
	bottom: 3%;
}
img{
	border-radius: 100%;
}